spring:
  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    driver-class-name: ${DB_DRIVER:com.mysql.cj.jdbc.Driver}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}
    url: ${DB_URL}

    hikari:
      maximum-pool-size: 20
      #HikariPool-1 - Thread starvation or clock leap detected 라는 WARNING이 계속 발생함에 따라
      #10명 이상의 접속자가 동시에 요청을 보내면 connection pool이 감당할 수 없게 되어 더 이상 DB가 동작하지 않기 때문에
      #connection pool을 20명으로 늘림
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}

jwt:
  secretKey: ${SECRET_KEY}
  accessExp: ${ACCESS_EXP:600}
  refreshExp: ${REFRESH_EXP:14400}

server:
  port: ${SERVER_PORT:8080}
